* {
	max-width: 100%;
	box-sizing: border-box;
	font-family: 'Merriweather';

}

#sailio {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 2px;
	background-color: #e09f3e;
}

main {
	padding: 20px;
}

main::after {
	content: "";
	display: block;
	clear: both;
	}

header {
	padding: 10px;
	margin: 10px;
	background-color: #9e2a2b ;
	color:#FFFFFF;
}

#otsikko {
	text-align: center;
}

#otsikko a { 
	text-decoration: none;
	color: #FFFFFF;
}

main h2{
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

section.ohje {
	padding-left: 10px;
	padding-bottom: 20px;
	padding-right: 10px;
	padding-top: 1px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	background-color: #FFF3B0;
}

.ohje a:hover {
	background-color: #540b0e;
}

#kategoriat  a:link, a:visited {
	display: block;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	text-decoration: none;
	background-color: #fff3b0;
	color: #000000;
	text-align: center;
}

#kategoriat a:hover {
	background-color: #540b0e;
	color: #FFFFFF;
}

#ohjesailio {
	padding-top: 1px;
	padding-bottom: 1px;
	background-color: #fff3b0;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
}

#ohjesailio h3 {
	margin-left: 10px;
}

#ohjesailio ul {
	list-style: none;
	padding-left: 14px;
}

a.ohjelinkki{
	color: white;
	padding: 6px;
	background-color:#9E2A2B;
	text-decoration: none;
}

a.linkki {
	display: block;
	color:#000000;
	text-decoration: none;
	padding-left: 5px;
	padding-right: 5px;
	margin-right: 14px;
}

#linkit a:hover {
	background-color: #540b0e;
	color: #FFFFFF;
	border-radius: 10px;
}

footer {
	padding: 10px;
	background-color: #9e2a2b;
	color: #FFFFFF;
}

.footer_sisalto {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.footer_infot{
	text-align: left;
	display: inline-block;
}

.some p {
	text-align: left;
	display: inline-block;
}

.facebook_link {
	list-style: none;
}

.linkedin_link {
	list-style: none;
}

.twitter_link {
	list-style: none;
}

.somekuvake_sailio {
	padding: 0;
	margin: 0;
}

@media screen and (min-width: 600px) {
	#kategoriat {
		display: inline-block;
		float: left;
		width: 60%;
	}

	#kategoriasailio{
		float: left;
		width: 60%;
	}

	article{
		float: left;
		width: 60%;
	}

	article h2{
		margin-top: 0;
	}
	
	#ohjesailio {
		display: inline-block;
		float: right;
		width: 35%;
		margin-top: 0;
	}
	
	footer {
		clear: both;
	}

	.footer_infot {
		width: 40%;
		float: left;
		margin-left: 10px;
	}

	.footer_sisalto::after {
		content: "";
		display: block;
		clear: both;
		}

	.some {
		width: 50%;
		float: right;
	}
	
}


@media screen and (min-width: 800px) {
	.footer_infot {
		width: 50%;
	}

	.aspa_info {
		width: 50%;
		float: left;
	}

	.myynti_info {
		width: 50%;
		float: left;
	}

	.some {
		width: 33%;
	}

	.somekuvake_sailio li {
		display: inline-block;
	}

	.somekuvake_sailio a {
		text-decoration: none;
	}
	
}