* {
	box-sizing: border-box;
	font-family: 'Merriweather';

}

#sailio {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 2px;
	/*border: 3px solid black;*/
	background-color: #e09f3e;
	background-size: cover;

}

main {
	padding: 20px;
/*	border-bottom: 3px solid #000000;*/
}

main::after {
	content: "";
	display: block;
	clear: both;
	}

header {
	padding: 10px;
	margin: 10px;
	background-color: #9e2a2b ;
	color:#FFFFFF;
}

#otsikko {
	text-align: center;
}

#kategoriat  a:link, a:visited {
	display: block;
	width: 80%;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	text-decoration: none;
	background-color: #fff3b0;
	color: #000000;
	text-align: center;
}

#kategoriat a:hover {
	background-color: #540b0e;
	color: #FFFFFF;
}

#ohjesailio {
	/*border: 3px solid black;*/
	padding-top: 1px;
	padding-bottom: 1px;
	background-color: #fff3b0;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
}

#ohjesailio h3 {
	margin-left: 10px;
}

#ohjesailio ul {
	list-style: none;
	padding-left: 14px;
}

a.linkki {
	color:#000000;
	text-decoration: none;
}

footer {
	padding: 10px;
	background-color: #9e2a2b;
	color: #FFFFFF;
}

.footer_sisalto {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.footer_infot{
	text-align: left;
	display: inline-block;
}

.some p {
	text-align: left;
	display: inline-block;
}

.facebook_link {
	list-style: none;
}
.linkedin_link {
	list-style: none;
}
.twitter_link {
	list-style: none;
}

.somekuvake_sailio {
	padding: 0;
	margin: 0;
}

@media screen and (min-width: 600px) {
	#kategoriat {
		display: inline-block;
		float: left;
		width: 60%;
	}
	
	#ohjesailio {
		display: inline-block;
		float: right;
		width: 40%;
		margin-top: 0;
	}
	
	footer {
		/*clear: both;*/
	}

	.footer_infot {
		width: 50%;
		float: left;
	}

	.footer_sisalto::after {
		content: "";
		display: block;
		clear: both;
		}

	.some {
		width: 50%;
		float: right;
	}
	
}


@media screen and (min-width: 800px) {
	.footer_infot {
		width: 66%;
	}

	.aspa_info {
		width: 50%;
		float: left;
	}

	.myynti_info {
		width: 50%;
		float: left;
	}

	.some {
		width: 33%;
	}

	.somekuvake_sailio li {
		display: inline-block;
	}

	.somekuvake_sailio a {
		text-decoration: none;
	}
	
}