* {
	max-width: 100%;
	box-sizing: border-box;
	font-family: 'Merriweather';
}

#sailio{
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	border: 3px solid #000000;
	background-color: #E09F3E;
}

main{
	padding: 20px;
}

header{
	padding: 10px;
	border: 3px solid #000000;
	margin: 10px;
	background-color: #9E2A2B;
	color: #FFFFFF;
}

header h1{
	text-align: center;
}

main h2{
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

section.ohje {
	padding-left: 10px;
	padding-bottom: 20px;
	padding-right: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	border: 3px solid #000000;
	background-color: #FFF3B0;
}

#ohjesailio{
	border: 3px solid #000000;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	background-color: #FFF3B0;
}

#ohjesailio h3{
	margin-left: 10px;
}

a.ohjelinkki{
	color: white;
	border: 3px ridge #000000;
	padding: 6px;
	background-color:#9E2A2B;
	text-decoration: none;
}

#linkit ul{
	list-style: none;
	padding-left: 14px;
}

#linkit li{
	padding-left: -5px;
}

a.linkki{
	text-decoration: none;
	color: #000000;
}

footer{
	border-top: 3px solid #000000;
	padding: 10px;
	background-color: #9E2A2B;
	color: #FFFFFF;
}

.footer_info{
	text-align: left;
	display: inline-block;
}

.footer_sisalto{
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.somekuvat{
	margin: 0;
	padding: 0;
}

.facebook_linkki {
	list-style: none;
}
.linkedin_linkki {
	list-style: none;
}
.twitter_linkki {
	list-style: none;
}

@media screen and (min-width: 600px) {
	
	#kategoriasailio{
		float: left;
		width: 60%;
	}
	
	#ohjesailio{
		float: right;
		width: 35%;
		margin-top: 0;
		
	}
	
	footer{
		clear: both;
	}
	
}


@media screen and (min-width: 800px) {
	
	
}